<div class="container">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="input-field">
      <label>
        Nome completo:
        <input type="text" formControlName="name" full>
      </label>
      <div *ngIf="submitted && regForm.name.errors" class="alert-error">
        NOME NÃO É VÁLIDO
      </div>
    </div>

    <div class="input-field">
      <label>
        Idade:
        <input type="number" formControlName="age" min="0" full>
      </label>
      <div *ngIf="submitted && regForm.age.errors" class="alert-error">
        IDADE NÃO É VÁLIDA
      </div>
    </div>

    <div class="input-field">
      <label>E-Mail:
        <input type="email" formControlName="email" full required>
      </label>
      <div *ngIf="submitted && regForm.email.errors" class="alert-error">
        E-MAIL NÃO É VÁLIDO
      </div>
    </div>


    <div class="input-field">
      <label>
        Senha:
        <input type="password" formControlName="password" full>
      </label>
      <div *ngIf="submitted && regForm.password.errors" class="alert-error">
        SENHA INVÁLIDA
      </div>
    </div>

    <button type="submit" [disabled]="submitted && !this.registerForm.valid" full>Cadastrar</button>

  </form>
</div>


<div class="container">
  <button full (click)="btnReturn()">Voltar</button>
</div>
