@import '../../styles.scss';

.container {
  margin-top: 30px;
}

input[type=email],
input[type=password] {
  padding: 12px 20px;
  display: inline-block;  
  box-sizing: border-box;
}

.imgcontainer {
  text-align: center;
}

img.avatar{
  width: 20%;
  border-radius: 50%;
}

.input-field{
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    // .container {
    //     padding: 250px;
    //   }
}

@media (max-width: 900px) {
    // .container {
    //     padding: 150px;
    //   }
}

@media (max-width: 800px){
    // .container {
    //     padding: 100px;
    //   }
}


@media (max-width: 480px) {
//   .container {
//     padding: 16px;
//   }

  input[type=email],
  input[type=password] {
    padding: 12px 20px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }
}
